= simple_nested_form_for [@series, @game] do |f|
  = f.error_notification

  .panel.panel-default
    .panel-body
      = f.input :date, as: :date,
        autofocus: true

      .row
        .col-sm-6
          = f.association :home_team,
            collection: @teams,
            include_blank: false,
            selected: @teams.first.id
        .col-sm-6
          = f.association :away_team,
            collection: @teams,
            include_blank: false,
            selected: @teams.last.id

      .row
        - @teams.each do |team|
          .col-sm-6
            %h3= team.name
            - (team.players + Player.reserves).each do |player|
              = f.simple_fields_for :lineups, player.lineups.build do |g|
                = g.input :player_boolean, as: :boolean,
                  label: player.full_name
                = g.input :player_id, 
                  input_html: { value: player.id },
                  as: :hidden
                = g.input :team_id, 
                  input_html: { value: team.id }, 
                  as: :hidden

    .panel-footer
      = f.button :submit
