= simple_form_for [@series, @game] do |f|
  = f.error_notification

  .panel.panel-default
    .panel-body
      = f.input :date, as: :date,
        autofocus: true

      .row
        .col-sm-6
          = f.association :home_team,
            collection: @teams,
            include_blank: false,
            selected: @teams.first.id
        .col-sm-6
          = f.association :away_team,
            collection: @teams,
            include_blank: false,
            selected: @teams.last.id

      .row
        .col-sm-6
          %h3= @teams.first.name
          = f.association :players, 
            collection: @players_a,
            label_method: :full_name,
            as: :check_boxes
        .col-sm-6
          %h3= @teams.last.name
          = f.association :players, 
            collection: @players_b,
            label_method: :full_name,
            as: :check_boxes

    .panel-footer
      = f.button :submit
