%table.table.table-responsive.table-striped.table-bordered
  %thead
    %tr
      %th #
      %th Date
      %th Home Team
      %th Score
      %th Away Team
      %th Actions
      
  %tbody
    - @games.each_with_index do |game, i|
      %tr
        %td= i+1
        %td= formatted_date game.date
        %td= game.home_team.name
        %td 5-2
        %td= game.away_team.name
        %td
          = link_to 'View', game, class: 'btn btn-xs btn-default'
          = link_to 'Edit', edit_game_path(game), class: 'btn btn-xs btn-default'
          = link_to 'Destroy', game, 
            method: :delete, 
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-xs btn-danger'
