%h1= @series.name
%h2 Game #{ @game.game_number } - #{ formatted_date @game.date }

.row
  .col-sm-6
    = render 'teams/team_short', team: @home, type: 'home'

  .col-sm-6
    = render 'teams/team_short', team: @away, type: 'away'

%table.table.table-responsive.table-striped.table-bordered
  %thead
    %tr
      %th #
      %th Time
      %th Strength
      %th Team
      %th Goal Scorer
      %th Assist
      %th Assist
      - if current_user.present?
        %th Actions
  %tbody
    - @game.goals.each_with_index do |goal, i|
      %tr
        %td= i+1
        %td= formatted_time goal.created_at
        %td= goal.category.upcase
        %td= goal.team.name
        %td= goal.scorer.full_name
        %td= goal.primary_assister.try(:full_name)
        %td= goal.secondary_assister.try(:full_name)
        - if current_user.present?
          %td
            = link_to 'Edit', 
              edit_goal_path(goal), 
              class: 'btn btn-default btn-xs'
            = link_to 'Delete', goal, 
              method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              class: 'btn btn-danger btn-xs'

- if current_user.present?
  = link_to 'Record Goal', new_game_goal_path(@game), class: 'btn btn-success'
  - unless @game.closed
    = link_to 'Close Game', 
      close_game_path(@game), 
      method: :post,
      class: 'btn btn-danger pull-right'

%hr
- if current_user.present?
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default'
= link_to 'Back', @series, class: 'btn btn-default'
