= simple_form_for @player do |f|
  = f.error_notification

  .panel.panel-default
    .panel-body
      .row
        .col-sm-6
          = f.input :first_name, autofocus: true
        .col-sm-6
          = f.input :last_name

      .row
        .col-sm-4
          = f.input :email
        .col-sm-4
          = f.input :phone_number
        .col-sm-4
          = f.input :number, label: "Player number"

      = f.input :goalie, label: 'Is this player a goalie?'
      = f.input :reserve, label: 'Is this player a reserve?'

    .panel-footer
      = f.button :submit
      = link_to 'Cancel', players_path, class: 'btn btn-danger pull-right'
