= simple_form_for [@game, @goal] do |f|
  = f.error_notification

  .panel.panel-default
    .panel-body
      .row
        .col-sm-6
          = f.association :scorer,
            collection: @players,
            label_method: :full_name,
            include_blank: false
          = f.input :category,
            collection: Game::CATEGORY,
            label_method: :last,
            value_method: :first,
            include_blank: false,
            label: 'Type'

        .col-sm-6
          = f.association :primary_assister,
            collection: @players,
            label_method: :full_name
          = f.association :secondary_assister,
            collection: @players,
            label_method: :full_name

    .panel-footer
      = f.button :submit
