%h2 Series

%table.table.table-striped.table-bordered.table-responsive
  %thead
    %tr
      %th Name
      %th GP
      %th Status
      %th
      %th.text-center Score
      %th
      %th Start Date
      %th End Date
      %th Actions
  %tbody
    - @series.each do |series|
      %tr
        %td= series.name
        %td= series.games.try(:count)
        %td Ongoing
        %td.text-center
          %strong= series.teams.first.name
        %td.text-center
          %strong 5-2
        %td.text-center
          %strong= series.teams.last.name
        %td
          - if series.first_game.present?
            = formatted_date series.first_game.date
          - else
            Not Started
        %td
        %td
          = link_to 'View', series, class: 'btn btn-default btn-xs'
          - if current_user.present?
            = link_to 'Edit', edit_series_path(series), class: 'btn btn-default btn-xs'
            = link_to 'Delete', series, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'

- if current_user.present?
  = link_to 'New Series', new_series_path, class: 'btn btn-default'
